{% extends '../../base.html' %} {% load static %} {% block content %}

<div class="container d-flex align-items-center flex-column flex-md-row mt-5">
  <div id="gameTypeInfo" class="d-flex flex-column col-12 col-md-6">
    <div id="gameTypeText" class="d-flex justify-content-center">
      <h6 class="text-center display-4 font-weight-bold">{{game.type}}</h6>
    </div>
    <div id="gameTypeAbout" class="p-0 m-0">
      <p class="text-center lead">{{game.about}}</p>
    </div>
  </div>
  <div id="landing_img" class="d-flex justify-content-center col-12 col-md-6">
    <img src="{% static game.img %}" alt="load error" class="w-100 h-50" />
  </div>
</div>

{% endblock %}
